* text=auto eol=lf

*.exe filter=lfs diff=lfs merge=lfs -text

*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.webp -text
*.ico -text
*.mp4 -text
*.mov -text
*.woff -text
*.woff2 -text
*.ttf -text
*.eot -text
*.pdf -text
